body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #F8FAFC;
}

body .aboutContent {
    padding: 0 10px;
    justify-content: center;
    top: 200px;
}

body .aboutContent .text {
    color: #1E293B;
}

body .aboutContent .image img {
    width: 400px;
    border: 2px solid #7DD3FC;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px #BAE6FD;
}

body .aboutContent .top, body .aboutContent .middle, body .aboutContent .bottom {
    display: flex;
    margin-top: 10px;
    gap: 100px;
}

.container {
    text-align: center;
    margin: 100px 0;
    color: #1E293B;
}

.container .artist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    text-align: center;
}

.container .artist .image {
    background-color: #E0F2FE;
    padding: 30px 40px 0 40px;
    border: 1px solid #0F172A;
    border-radius: 20px;
    box-shadow: 0 3px  5px 1px #94A3B8;
}

.container .artist img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.container .artist .image h1 {
    font-size: 20px;
}