body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #F8FAFC;
}

body .galleryContainer {
    margin: 200px 0 100px 0;
    color: #1E293B;
    text-align: center;
    position: relative;
}

body .galleryContainer .frame {
    width: 860px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

body .galleryContainer .frame .card {
    background-color: #E2E8F0;
    padding: 180px;
    margin: 0 auto;
}