header {
    background: #38BDF8;
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 5px -1px #334155;
}

header .left .logo {
    padding: 30px 120px;
    background-color: #f0f0f0;
    margin: 20px 0 0 20px;
}

header .right {
    display: flex;
    width: 486px;
    height: 60px;
    gap: 50px;
    padding: 0 5px;
}

header .right .action {
    height: 0;
    margin-top: 30px;
}

header .right .login {
    margin-top: 15px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

header .right .login p {
    font-weight: 700;
    color: white;
}

header .right .action ul {
    display: flex;
    list-style: none;
    gap: 15px;
    height: 29px;
}

header .right .action ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}