body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

body .content {
    height: 100vh;
    text-align: center;
    gap: 10px;
    position: relative;
    width: 650px;
    margin: auto;
    top: 200px;
    color: #1E293B;
}

body .content a {
    text-decoration: none;
}

body .content .logo {
    padding: 30px 100px;
    background-color: cyan;
    display: inline;
    position: relative;
    bottom: 30px;
}

body .content .text h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
}

body .content .button {
    position: relative;
    top: 49px;
    padding: 13px 25px;
    background: linear-gradient(45deg, #7DD3FC, #38BDF8, #0EA5E9, #38BDF8, #7DD3FC);
    display: inline;
    color: white;
    border-radius: 8px;
    font-size: 27px;
    line-height: 39px;
    cursor: pointer;
    background-position: 0, 0;
    background-size: 200%;
    z-index: 1;
    transition: .3s ease;
}

body .content .button.active {
    background-position: 100%;
    opacity: 0;
}

body .content .button:hover {
    background-position: 100%;
}

body .content .button::before {
    content: "";
    position: absolute;
    width: 170px;
    height: 95%;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 3px solid #0EA5E9;
    z-index: -1;
    transition: .3s ease;
}

body .content .button:hover::before {
    padding: 20px;
    transform: translate(-21px,-21px);
    opacity: 0;
}

body .content .wrap::after {
    content: "";
    position: absolute;
    justify-content: center;
    margin: auto;
    left: 0;
    right: 0;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-top: 3px solid #38BDF8;
    border-bottom: 3px solid #38BDF8;
    border-radius: 100px;
    opacity: 1 !important;
    z-index: 0;
    animation: .4s rotate linear infinite;
    animation-delay: .5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body .content .button.before::before {
    padding: 20px;
    transform: translate(-21px, -21px);
    opacity: 0;
}

footer {
    position: fixed;
    bottom: 0;
}