body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #F8FAFC;
}

header {
    background: #38BDF8;
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 5px -1px #334155;
}

header .left .logo {
    padding: 30px 120px;
    background-color: #f0f0f0;
    margin: 20px 0 0 20px;
}

header .right {
    display: flex;
    width: 486px;
    height: 60px;
    gap: 50px;
    padding: 0 5px;
}

header .right .action {
    height: 0;
    margin-top: 30px;
}

header .right .login {
    margin-top: 15px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

header .right .login p {
    font-weight: 700;
    color: white;
}

header .right .action ul {
    display: flex;
    list-style: none;
    gap: 15px;
    height: 29px;
}

header .right .action ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

body .content {
    text-align: center;
    gap: 10px;
    width: 650px;
    margin: 200px auto 100px auto;
    color: #1E293B;
}

body .content a {
    text-decoration: none;
}

body .content .logo {
    padding: 30px 100px;
    background-color: cyan;
    display: inline;
    position: relative;
    bottom: 30px;
}

body .content .text h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
}

body .content .button {
    position: relative;
    top: 49px;
    padding: 13px 25px;
    background: linear-gradient(45deg, #7DD3FC, #38BDF8, #0EA5E9, #38BDF8, #7DD3FC);
    display: inline;
    color: white;
    border-radius: 8px;
    font-size: 27px;
    line-height: 39px;
    cursor: pointer;
    background-position: 0, 0;
    background-size: 200%;
    z-index: 1;
    transition: .3s ease;
}

body .content .button.active {
    background-position: 100%;
    opacity: 0;
}

body .content .button:hover {
    background-position: 100%;
}

body .content .button::before {
    content: "";
    position: absolute;
    width: 170px;
    height: 95%;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 3px solid #0EA5E9;
    z-index: -1;
    transition: .3s ease;
}

body .content .button:hover::before {
    padding: 20px;
    transform: translate(-21px,-21px);
    opacity: 0;
}

body .content .wrap::after {
    content: "";
    position: absolute;
    justify-content: center;
    margin: auto;
    left: 0;
    right: 0;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-top: 3px solid #38BDF8;
    border-bottom: 3px solid #38BDF8;
    border-radius: 100px;
    opacity: 1 !important;
    z-index: 0;
    animation: .4s rotate linear infinite;
    animation-delay: .5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body .content .button.before::before {
    padding: 20px;
    transform: translate(-21px, -21px);
    opacity: 0;
}

footer {
    background-color: #0EA5E9;
    text-align: center;
    padding: 1px 0;
    width: 100%;
    position: absolute;
    color: #F0F9FF;
    margin-top: 104px;
}